flask
Flask-Caching
flask_redis
redis
gunicorn
pyngrok
ngrok
requests
python-dotenv
matplotlib
pandas
pytz
numpy
pythonnet
alpaca-py == 0.8.2 
#MetaTrader5
#tradingview-screener
#git+https://github.com/AI4Finance-Foundation/FinRL.git
