flask
Flask-Caching
flask_redis
redis
Flask-APScheduler
schedule
gunicorn
pyngrok
ngrok
requests
python-dotenv
matplotlib
pandas
pytz
numpy
pythonnet
alpaca-py == 0.20.1
fastdtw
seaborn
scipy
scikit-learn
pykalman
arch
#MetaTrader5
#tradingview-screener
#git+https://github.com/AI4Finance-Foundation/FinRL.git